@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    text-align: center;
    margin: 0 auto !important;
    padding: 0 !important;
    font-family: 'Pangolin', cursive;
}

html, body {
    background-image: url('https://mcdn.wallpapersafari.com/medium/80/14/lgu2zR.jpg');
    min-width: 100%;
    min-height: 100%;
    height: 100% !important;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2% 0 !important;
    max-width: 100%;
    min-width: 100%;
    max-height: 15%;
    color: white;
}


header * {
    font-size: 4em;
}

footer{
    min-width: 100%;
    min-height: 5%;
    position: absolute;
    bottom: 0;
}

#calculadora {
    background: linear-gradient(grey, black);
    box-shadow: 2px 2px 2px grey solid;
    border-radius: 5px;
    margin-top: 5% !important;
    width: 30%;
    padding: 1% !important;
    max-height: 50% !important;
    overflow: auto;
}

#display {
    width: 98%;
    min-height: 20%;
    resize: none;
    font-size: 4em;
    padding: 1%;
    display: inline-block;
    border-radius: 5px;
}

div button:last-child {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.actions {
    display: flex;
    flex-direction: row;
    width: 80% !important;
    height: 100%;
}

.left {
    width: 70% !important;
    display: inline-block;
}

.left div {
    width: auto !important;
}

.right {
    width: 20%;     
    display: inline-block;
    text-align: left !important;
}

button {
    min-height: 20% !important;
    border-radius: 5px;
    padding: 1% !important;
    min-width: 20% !important;
    font-size: 2em;
}

.actions {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
}

#igual {
    background-color: lightgrey;
    min-height: 100% !important;
    width: 100%;

}

@media (max-width: 700px) {
    #calculadora {
        width: 80%;
        padding: 2%;
        margin-top: 15%
    }

    header {
        max-height: 10%;
    }
    
    header h1 {
        font-size: 2em
    }
}